body {
    padding-top: 50px;
    margin-bottom: 50px;
} 

@keyframes fadeInAnimation { 
	0% { 
		opacity: 0; 
	} 
	100% { 
		opacity: 1; 
	} 
} 

.media {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 

    margin: 10px 0px;
}

#divy {
    opacity: 0;
    animation-delay: 1s;
}

img.stp {
    width: 20%;
}

.medcontent {
    display: block;
    margin: 10px;
}

.routeform {
    padding: 20px 0px;
    border: 1px;
    border-style: solid;
    margin-bottom: 20px;
}

.footer {
    line-height: 50px;
    color: rgba(255, 255, 255, .5);
}

.alert-violet {
    background-color: rgb(157, 123, 189);
    color: rgb(57, 17, 94);
}