body {
    padding-top: 80px;
}

.media {
    padding: 20px 100px;
    border: 1px;
    border-style: solid;
    margin: 10px 0px;
}

img.stp {
    width: 20%;
}

.medcontent {
    display: block;
    margin: 10px;
}

.routeform {
    padding: 20px 0px;
    border: 1px;
    border-style: dashed;
    margin-bottom: 20px;
}