{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <h2> Meet our Developers! </h2>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col">
            <div class="media">
                <div class="media-body">
                    <h3> Stephen Vincent </h3>
                    <em> Will discuss with you about the duality of this world while catching yet another Abra in Pokemon GO. Vibing to Ryos at the moment. </em>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}