{% extends 'routeform.html' %}

{% comment %}

Station list: stationList
trackList: trackList
Is there a line change? lineChange

{% endcomment %}

{% block content2 %}

<br>

{% for track in trackList %}

    {% if forloop.first %}
        <div class="container">
            <p> Get on at {{ track.0 }} Station on {{ track.2 }} line. </p>
        </div>
    {% endif %}
    
    {% if track.3 %}
        <div class="container">
            <p> Change to the {{ track.2 }} line at {{ track.0 }} Station. </p>
        </div>
    {% endif %}

    <div class="container">
        <p> {{ track.0 }} Station to {{ track.1 }} {{ lineChange.forloop.counter0 }} Station </p>
    </div>
    
    {% if forloop.last %}
        <div class="container">
            <p> Get off at {{ track.1 }} Station. </p>
        </div>
    {% endif %}

{% endfor %}

{% endblock %}