{% extends 'routeform.html' %}

{% block content2 %}

<br>

{% for track in trackList %}

    {% if forloop.first %}
        <hr>
        <div class="container">
            <div class="alert {{ track.4 }}" role="alert" >
                <p class="text-center"> Get on at {{ track.0 }} Station on {{ track.2 }} line. </p>
            </div>
        </div>
    {% endif %}
    
    {% if track.3 %}
        <hr>
        <div class="container">
            <div class="alert {{ track.4 }}" role="alert" >
                <p class="text-center"> Change to the {{ track.2 }} line at {{ track.0 }} Station. </p>
            </div>
        </div>
    {% endif %}

    <div class="container">
        <div class="alert {{ track.4 }}" role="alert" >
            <p class="text-center"> {{ track.0 }} Station to {{ track.1 }} Station </p>
        </div>
    </div>
    
    {% if forloop.last %}
        <div class="container">
            <div class="alert {{ track.4 }}" role="alert" >
                <p class="text-center"> Get off at {{ track.1 }} Station. </p>
            </div>
        </div>
        <hr>
    {% endif %}

{% endfor %}

{% endblock %}