{% extends 'base.html' %}

{% block alert %}

{% if message %}
<div class="container-fluid p-0">
    <div class="alert {{ message_type }} alert-dismissible" role="alert" >
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}
    </div>
  </div>
{% endif %}

{% endblock %}

{% block content %}

<div class="container routeform border rounded">
    <form method=POST> {% csrf_token %}
        <div class="form-row align-items-center justify-content-center">
            <div class="col-3 col-sm-auto text-right d-none d-sm-block">Source:</div>
            <div class="form-group col-9 col-sm-auto text-center" style="padding-top: 15px;">
                {{ routeForm.source }}
            </div>

            <div class="col-sm-1"> </div>

            <div class="col-3 col-sm-auto text-right d-none d-sm-block">Destination:</div>
            <div class="form-group col-9 col-sm-auto text-center" style="padding-top: 15px;">
                {{ routeForm.destination }}
            </div>

            <div class="form-group col-12 text-center" style="padding-top: 15px;">
                <button type="submit" class="btn btn-dark ml-auto mb-auto"> Find Route </button>                
            </div>
        </div>
    </form>
</div>

{% endblock %}